	*{
	text-align: center;
	margin: 0px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	padding: 15px 24px;
	font-size: 19px;
	}

	#titulo {
	font-weight: bold;

	}

 	#subtitulo{
 	background: #395870;
  }